%form{:action => '/compare', :method => 'GET'}
  %select{:name => 'award', :style => 'display: block;margin-bottom: 3px'}
    %option{:value => ''} -- award --
    - Comparer::Picture.awards.each do |award|
      %option{:value => award, :selected => params[:award] == award}= award
  %select{:name => 'review', :style => 'display: block;margin-bottom: 3px'}
    %option{:value => ''} -- review --
    %option{:value => 'fake'} Fake
    %option{:value => 'original'} Origineel
  %select{:name => 'maker', :style => 'display: block;margin-bottom: 3px'}
    %option{:value => ''} -- maker --
    - Comparer::Picture.makers.each do |maker|
      %option{:value => maker, :selected => params[:maker] == maker}= maker
  %select{:name => 'material', :style => 'display: block;margin-bottom: 3px'}
    %option{:value => ''} -- materiaal --
    - Comparer::Picture.materials.each do |material|
      %option{:value => material, :selected => params[:material] == material}= material
  %select{:name => 'reverse', :style => 'display: block;margin-bottom: 3px'}
    %option{:value => ''} -- reverse --
    - Comparer::Picture.reverses.each do |reverse|
      %option{:value => reverse, :selected => params[:reverse] == reverse}= reverse
  %input{:type => 'submit', :value => 'Toon Afbeeldingen', :style => 'display:block'}

#image_list
  %h3 Lijst
  %br
 
  - if @pictures
    %ul{:style => 'margin-top:23px'}
      - @pictures.each do |picture|
        %li.image
          %img{:src => "/pictures/#{picture.id}", :alt => picture.file.name}
  - else
    Selecteer een tag...

#chosen_image
  %h3 Kies een bestand
  %input{:type => 'file', :onchange => 'readURL(this)', :style => 'margin: 0'}
  %br
  %img#selected_image

%p
  %a{:href => '/upload'} Nieuw Bestand Uploaden
